<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PhoneBuzz</title>
  <meta name="description" content="PhoneBuzz App">
  <meta name="author" content="Le Lu">
  <link rel="stylesheet" href="../static/myapp.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="container background">

<form action="/outbound_call" method="POST">

      <div class="header">
         <p>Dialing PhoneBuzz</p>
      </div>
      
      <br>

      <div class="description">
        <p>PhoneBuzz is almost ready. Simply enter your phone number in form of +1XXXXXXXXXX.</p>
      </div>
      <div class="input">
        <input type="text" class="button" id="phoneNum" name="phoneNum" placeholder="+1XXXXXXXXXX" maxlength="12" autofocus> 
        <input type="submit" class="button" id="submit" value="MAKE A CALL">
      </div>
      
      <br>

      {% if status == 1 %}
		<div class="alert alert-success description">
  			<strong>Success!</strong> {{message}}
		</div>
	  {% elif status == -1 %}
		<div class="alert alert-danger description">
  			<strong>Error!</strong> {{message}}
		</div>
	  {% endif %}
</form>



  


	<!-- Latest compiled and minified JavaScript -->
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>